<!DOCTYPE html>
<html>
<head>
<title>{% block title %}Wikt{% endblock %}</title>
<style>
table.patch td {
	height: 1em;
}
table.patch td.added {
	background-color: #dfd;
}

table.patch td.deleted {
	background-color: #fdd;
}
</style>
</head>
<body>
	{% block body %}
		{% block tabs %}
			<ul>
				<li><a href="{{ url_for('article_view', path=path) }}">Read</a></li>
				<li><a href="{{ url_for('article_edit', path=path) }}">Edit</a></li>
				<li><a href="{{ url_for('article_history', path=path) }}">View history</a></li>
				<li><a href="{{ url_for('article_delete', path=path) }}">Delete</a></li>
			</ul>
		{% endblock %}
		{% block page %}
		{% endblock %}
	{% endblock %}
</body>
</html>
