{% extends "base.html" %}
{% block title %}Editing {{ article }}{% endblock %}
{% block page %}
	{% if not article.file %}
		You have followed a link to a page that does not exist yet. Your edit will be saved as a new page.
	{% endif %}
	<form action="" method="post">
		<p>
			{{ form.text(rows=20, cols=120)|safe }}
		</p>
		<p>
			<label>{{ form.summary.label }} {{ form.summary(maxlength=80)|safe }}</label>
		</p>
		<p>
			<label>{{ form.minor_edit()|safe }} {{ form.minor_edit.label }}</label>
		</p>

		<input type="submit" value="Save page">
	</form>
{% endblock %}
